.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  background-color: #e11d74;
  color: #fff;
  font-weight: 700;
}

.mat-cell {
    text-align: center;
    justify-content:center;
}

