<div class="title">
    <h1>Productos</h1>
</div>

<div class="container">
    <div class="card">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej: billetera" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- PriceOut Column -->
            <ng-container matColumnDef="priceOut">
                <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.priceOut | currency : 'USD' : 'symbol' : '1.0-0'}}
                </mat-cell>
            </ng-container>

            <!-- Inventory Column -->
            <ng-container matColumnDef="inventory">
                <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.inventory}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!-- Actions Column -->

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let product">
                    <button class="btn-actions" mat-button [routerLink]="['editar', product.id]">
                        <!-- Editar -->
                        <!-- <span>Editar</span> -->
                        <img class="icon" src="assets/images/editar.svg" alt="">
                    </button>
                    <button class="btn-actions" mat-button color="warn" (click)="deleteProduct(product)">
                        <img class="icon delete" src="assets/images/eliminar.svg" alt="">
                    </button>
                </mat-cell>
            </ng-container>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="actions">
        <button routerLink="/products/registro" mat-button color="accent" type="submit">
            Registrar productos
        </button>
    </div>
</div>


<!-- <ul class="list-group">
<app-product *ngFor="let product of products | async" 
[product]="product" (clickProduct)="listenClick($event)" ></app-product>
</ul> -->